<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/admin.css">

</head>

<body>
    <div class="panel-acceso">
        <img src="static/img/logo.png" alt="" srcset="">
        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon-usuario">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon-usuario">
        </div>

        <div class="input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon-clave">@</span>
            </div>
            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username"
                aria-describedby="basic-addon-clave">
        </div>
        <div class="btn-group d-flex" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" onclick="validar_ingresar()">Ingresar</button>
            <button type="button" class="btn btn-danger" onclick="salir_admin()">Salir</button>
        </div>
    </div>

    <script src="static/js/admin.js"></script>
</body>

</html>